<!DOCTYPE html>
<html lang="en">
{% include 'bootstrap.html' %}
{% include 'nav.html' %}
<style>
  #banner {
    height: 360px;
    width: 100%;
    object-fit: cover;
  }
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit Form to Supabase</title>
</head>
<body>
  <h1 class= "mb-4 mt-2">Welcome to Shea Solution</h1>
  <h1 class= "mb-4 mt-2">{{ cliente }}</h1>
  <div class="container-sm"style="width: 20%;">
    <button class ="btn btn-outline-primary mb-3" onclick="goBack()"><i class="fa-solid fa-arrow-left"></i></button>
    <form action="/cliente/dispositivos/add/{{clienteid}}" method="POST">
      <div class="mb-3" >
        <label for="MAC" class="form-label">MAC</label>
        <input type="text" class="form-control" style="text-transform:uppercase" name="MAC" required>
      </div>
      <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input type="text" class="form-control" name="Location" required>
      </div>
      <div class="mb-3">
        <label for="Status" class="form-label">Status 0 o 1</label>
        <input type="text" class="form-control" name="Status" required>
      </div>
      <input type="submit" value="Add" class="btn btn-primary">
    </form>
</div> 
{% include 'footer.html' %} 
</body>
<script>
function goBack() {
  window.history.back();  // Regresar a la página anterior
}
</script>
