<table class= "table table-light table-striped table-hover table-bordered">
  <thead>
    <tr class= "table-group-divider">
      <th>id</th>
      <th >Cliente</th>
      <th >
        Actions
      </th>
    </tr>
  </thead>
  {% if session ['role'] == 'admin'%}
  <tbody class = "table-group-divider">
    {% for disp in data %}
    <tr>

      <th scope="row">{{loop.index0 + 1}}</th>
      <td >{{disp ['nombre']}}</td>
      <td>
        <a
        href = "cliente/{{disp['id']}}" type= "button" class ="btn btn-outline-warning"> VIEW
      </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
     {% if session ['user_cliente_id'] != 0 %}
     <tbody class = "table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td >{{ cliente }}</td>
        <td>
          <a
          href = "cliente/{{session ['user_cliente_id']}}" type= "button" class ="btn btn-outline-warning"> VIEW
        </a>
        </td>
      </tr>
      {% endif %}
  {% endif %}    
    </tbody>

</table>