<table class= "table table-light table-striped table-hover table-bordered">
  <thead>
    <tr class= "table-group-divider">
      <th>id</th>
      <th >MAC</th>
      <th >Location</th>
      <th >Status</th>
    </tr>
  </thead>

  <tbody class = "table-group-divider">
    {% for disp in data %}
    <tr>

      <th scope="row">{{disp ['id']}}</th>
      <td >{{disp ['MAC']}}</td>
      <td>{{disp ['Location']}}</td>
      {% if disp ['Status'] == True %}
      <td  class="table-success">Conected</td>
      {% else %}
      <td class= "table-danger">Disconnected</td>
      {% endif %}
      <td>
        <a
          href = "https://google.com" type= "button" class ="btn btn-outline-warning"> EDIT
        </a>
        <a
        href = "disp/{{disp['id']}}" type= "button" class ="btn btn-outline-warning"> VIEW
      </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>