<!DOCTYPE html>
<html>
  <head>
    <title>Shea Solution</title>
    <style>
      h1 {
        font-size: 40xp;
        font-family: sans-serif;
        text-align: center;
      }
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
      body {
        font-family: sans-serif;
        
      }
      h2 {
        text-align: center;
        font-weight: normal;
      }
      #container {
        max-width: 720px;
        margin: 0 auto
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Shea Solution</h1>
    <img id = "banner"src ="https://c8705336-7dd6-4ece-8e71-3e13fbbde5d7-00-p1nifvuu7h53.kirk.replit.dev/static/banner.jpg">
    <div id="container">
      <h2>About Shea Solution</h2>
      <p>We provide solutions for your business IOT needs.         </p>
      <h2>IOT Devices</h2>
      <button>Contact us</button>
    </div>
  </body>
</html>