<style>
    #home {
      margin-left: 3px;
    }
  </style>
  <table class= "table table-light table-striped table-hover table-bordered">
    <thead>
      <a class="btn btn-outline-primary mb-3 " id = "home" href="/cliente/{{clienteid}}"><i class="fa-solid fa-arrow-left"></i></a>
      <a class="btn btn-outline-primary mb-3 " id = "home" href="/dashboard"><i class="fa-solid fa-house"></i></a>
      {% if session ['role'] != 'operador' %}
      <a
      href = "/addusuario/{{clienteid}}" type= "button" class ="btn btn-outline-warning mb-3 float-end"> Añadir Usuario
      </a>
      {% endif %}
      <tr class= "table-group-divider">
        <th>#</th>
        <th >Nombre</th>
        <th >Apellido</th>
        <th >Role </th>
        <th >Empresa </th>
        <th> Actions</th>
      </tr>
    </thead>
  
     <tbody class = "table-group-divider">
      {% if session ['role'] == 'admin' or session ['role'] == 'adminempresa' %}
      {% for disp in data %}
      <tr>
        <th scope="row">{{loop.index0 + 1}}</th>
        <td >{{disp ['Nombre']}}</td>
        <td >{{disp ['Apellido']}}</td>
        <td>
          {% if disp ['role'] == 'admin' %}
          Administrador General
          {% endif %}
          {% if disp ['role'] == 'adminempresa' %}
          Administrador de Empresa
          {% endif %}
          {% if disp ['role'] == 'usuarioanz' %}
          Usuario Avanzado
          {% endif %}
          {% if disp ['role'] == 'operador' %}
          Operador
          {% endif %}
        </td>

         <td >{{ cliente }}</td>
  
        <td>
          <a
          href = "usuario/{{disp['id']}}" type= "button" class ="btn btn-outline-warning"> VIEW
        </a>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if session ['role'] == 'usuarioanz'%}
      {% for disp in data %}
      {% if disp ['role'] == 'usuarioanz' or disp ['role'] == 'operador' %}
      <tr>
        <th scope="row">{{loop.index0 + 1}}</th>
        <td >{{disp ['Nombre']}}</td>
        <td >{{disp ['Apellido']}}</td>
        <td>
          {% if disp ['role'] == 'admin' %}
          Administrador General
          {% endif %}
          {% if disp ['role'] == 'adminempresa' %}
          Administrador de Empresa
          {% endif %}
          {% if disp ['role'] == 'usuarioanz' %}
          Usuario Avanzado
          {% endif %}
          {% if disp ['role'] == 'operador' %}
          Operador
          {% endif %}
        </td>

         <td >{{ cliente }}</td>
  
        <td>
          <a
          href = "usuario/{{disp['id']}}" type= "button" class ="btn btn-outline-warning"> VIEW
        </a>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}
    </tbody>
</table>